<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="../static/styles.css">
</head>
<body style = "background-color: white;">
    <div class="container" id = "consent-form" style = "color: black">
        <h1 style = "color: black">UNIVERSITY OF MICHIGAN</h1>
        <h1 style = "color: black">CONSENT TO BE PART OF A RESEARCH STUDY</h1>
        <br>
        <h2>1.KEY INFORMATION ABOUT THE RESEARCHERS AND THIS STUDY</h2>
        <p><b>Study title:</b> Debugging Assistance for Verilog Programmers Using Fault Localization and Circuit Visualization</p>
        <p><b>Principal Investigator:</b> Joshua Velten, Research Assistant, University of Michigan</p>
        <p><b>Co-investigator:</b> Hammad Ahmad, Ph.D. Student Computer Science and Engineering, University of Michigan</p>
        <p><b>Faculty Advisor:</b> Westley Weimer, Ph.D. Computer Science and Engineering, University of Michigan </p>
        <br>
        <p>You are invited to take part in a research study.  This form contains information that will help you decide whether to join the study.</p>
        <br>
        <h3>1.1 Key Information</h3>
        <p>Things you should know:</p>
        <ul>
            <li>The purpose of the study is to measure the efficacy of our Verilog debugging tool. The tool consists of circuit diagrams and highlighted implicated lines. We aim to improve the speed and accuracy of Verilog debugging through this tool.
            </li>
            <li>If you choose to participate, you will be asked to:
            </li>
            <ul>
                <li>
                    Complete a questionnaire that assesses your level of experience with hardware design. (10 minutes)
                </li>
                <li>
                    Sit in front of a computer and debug a set of stimuli (Verilog code containing bugs) with the assistance of our debugging tool. (40 minutes)
                </li>
                <li>Complete a post-questionnaire describing your answers. (5 minutes)
                </li>
            </ul>
            <li>
                To mitigate the potential risk for reputational harm in the event poor performance on the tasks is breached outside of the research record, we will de-identify all participant responses.
            </li>
            <li>
                Although you may not directly benefit from this study, we hope to use the results from this study to further improve the quality of instruction and student satisfaction with undergraduate hardware courses.
            </li>
        </ul>
        <p><b>The University of Michigan Institutional Review Board Health Science (IRB-HSBS) and Behavioral Sciences has determined that this study is exempt from IRB oversight. </b>Taking part in this study is voluntary. You do not have to participate and you can stop at any time. Please take time to read this entire form and ask questions before deciding whether to take part in this research project.
        </p>
        <h2>2. PURPOSE OF THIS STUDY</h2>
        <p>The purpose of this study is to understand whether our Verilog debugging tool is effective for the hardware design process. We hope this will lead to improved speed and accuracy of Verilog debugging. Furthermore, we aim to better understand what form of assistance and visual information most improves the accuracy and speed of Verilog debugging.</p>
        <h2>3. WHO CAN PARTICIPATE IN THE STUDY</h2>
        <h3>3.1 Who can take part in this study?</h3>
        <p>Individuals who are</p>
        <!-- formatting to use i and ii  -->
        <ul class = "roman">
            <li>18 years of age or older</li>
            <li>have prior experience programming in verilog</li>
        </ul>
        <p>are eligible to participate in the study</p>
        <h2>4.  INFORMATION ABOUT STUDY RISKS AND BENEFITS</h2>
        <h3>4.1 What risks will I face by taking part in the study?  What will the researchers do to protect me against these risks?</h3>
        <p>To mitigate the potential risk for reputational harm in the event poor performance on the tasks in the study was breached outside of the research record, we will de-identify all the participant responses such that no response can be individually linked to a subject.</p>
        <h3>4.2 How could I benefit if I take part in this study?  How could others benefit?</h3>
        <p>You may not receive any personal benefits from being in this study. However, others may benefit from the knowledge gained from this study. In particular, we hope to use the results from this study to further improve the quality of instruction and student satisfaction with undergraduate hardware design courses.</p>
        <h2>5.  ENDING THE STUDY</h2>
        <h3>5.1 If I want to stop participating in the study, what should I do?</h3>
        <p>You are free to leave the study at any time. If you decide to leave the study before it is finished, please tell one of the persons listed in Section 9: “Contact Information”. If you choose to tell us why you are leaving the study, your reasons may be kept as part of the study record. We will keep the information collected about you for the research unless you ask us to delete it from our records. If we have already used your information in a research analysis, it may not be possible to remove your information.</p>
        <h2>6.  FINANCIAL INFORMATION</h2>
        <h3>6.1 Will I be paid or given anything for taking part in this study? </h3>
        <p>You will receive a $25 gift card for your participation in the study. You will need to finish the study before you can enter an email address to redeem the gift card.
        </p>
        <h3>6.1.1 Will I need to pay anything to be part of the study? 
        </h3>
        <p>You will be responsible for any costs associated with taking the study online (e.g., computer and internet access).</p>
        <h2>7. PROTECTING AND SHARING RESEARCH INFORMATION </h2>
        <h3>7.1 How will the researchers protect my information? 
        </h3>
        <p>All recorded data is stored on a UM-owned, password protected machine locked in a room not accessible to the general public. Additionally, all participant responses to the study stimuli are de-identified (i.e., no response can be individually linked to a subject).
        </p>
        <h3>7.2 Who will have access to my research records?</h3>
        <p>There are reasons why information about you may be used or seen by the researchers or others during or after this study. Examples include University, government officials, study sponsors or funders, auditors, and/or the Institutional Review Board (IRB) may need the information to make sure that the study is done in a safe and proper manner. </p>
        <h3>7.3 What will happen to the information collected in this study?</h3>
        <p>We will keep the de-identified information we collect during the research for future research projects and / or publishing the results from this study. Your name and other information that can directly identify you will be stored securely and separately for up to 30 days after the study has finished, following which all such identifying information will be deleted. </p>
        <p>The results of this study could be published in an article or presentation, but will not include any information that would let others know who you are.
        </p>
        <h3>7.4 Will my information be used for future research or shared with others?
        </h3>
        <p>We may use or share your research information for future research studies. If we share your information with other researchers it will be de-identified, which means that it will not contain your name or other information that can directly identify you. This research may be similar to this study or completely different. We will not ask for your additional informed consent for these studies. 
        </p>
        <h2>8. CONTACT INFORMATION
        </h2>
        <h3>Who can I contact about this study?
        </h3>
        <p>Please contact the researchers listed below to:
        </p>
        <ul>
            <li>Obtain more information about the study
            </li>
            <li>Ask a question about the study procedures
            </li>
            <li>Report an illness, injury, or other problem (you may also need to tell your regular doctors)</li>
            <li>Leave the study before it is finished</li>
            <li>Express a concern about the study</li>
        </ul>
        <p><b>Principal Investigator:</b> Joshua Velten (jvelten@umich.edu), Research Assistant, University of Michigan</p>
        <p><b>Co-investigator:</b> Hammad Ahmad (hammada@umich.edu), Ph.D. Student Computer Science and Engineering, University of Michigan</p>
        <p><b>Faculty Advisor:</b> Westley Weimer (weimerw@umich.edu), Ph.D. Computer Science and Engineering, University of Michigan </p>



        <h2 style = "color: black">Consent/Assent to Participate in the Research Study</h2>
        <p style = "color: black">By signing this document, you are agreeing to be in this study. Make sure you understand what the study is about before you sign. We will give you a copy of this document for your records and we will keep a copy with the study records.  If you have any questions about the study after you sign this document, you can contact the study team using the information in Section 9 provided above.
        </p>
        <p style = "color: black">I understand what the study is about and my questions so far have been answered. I agree to take part in this study. 
        </p>
        <form style = "padding: 0 0 10% 0; color: black;">
            <div class="form-group">
            
                <label for="Name" style = "color: black;">Print Legal Name</label>
                <input type="email" class="form-control" id="Name">
                <label for="Date" style = "color: black;">Date</label>
                <input type="email" class="form-control" id="Date"> 
            </div> 
            <br>
            <div style = "display: flex; justify-content: center;">
            <button class = "btn btn-primary">Submit</button>
            </div> 
        </form>


        <button><a href = "wadden_buggy1">Redirect me</a></button>
    </div>
    
</body>
</html>